In [1]:
import pandas as pd
import requests 
import seaborn as sns
import matplotlib.pyplot as plt

import numpy as np

In [2]:
original_df = pd.read_csv("https://projects.fivethirtyeight.com/nfl-api/nfl_elo.csv")
original_df

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
0,1920-09-26,1920,0,NaN,RII,STP,1503.947000,1300.000000,0.824651,0.175349,...,NaN,NaN,NaN,NaN,NaN,48,0,NaN,NaN,NaN
1,1920-10-03,1920,0,NaN,AKR,WHE,1503.420000,1300.000000,0.824212,0.175788,...,NaN,NaN,NaN,NaN,NaN,43,0,NaN,NaN,NaN
2,1920-10-03,1920,0,NaN,BFF,WBU,1478.004000,1300.000000,0.802000,0.198000,...,NaN,NaN,NaN,NaN,NaN,32,6,NaN,NaN,NaN
3,1920-10-03,1920,0,NaN,DAY,COL,1493.002000,1504.908000,0.575819,0.424181,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
4,1920-10-03,1920,0,NaN,RII,MUN,1516.108000,1478.004000,0.644171,0.355829,...,NaN,NaN,NaN,NaN,NaN,45,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2023-01-22,2022,0,d,BUF,CIN,1731.516093,1690.292481,0.648277,0.351723,...,303.726984,225.069808,230.466056,1675.570770,1690.152492,10,27,99.0,100.0,100.0
17375,2023-01-22,2022,0,d,SF,DAL,1708.971847,1640.135262,0.683613,0.316387,...,105.114287,109.133365,191.883277,1719.153115,1619.647034,19,12,98.0,100.0,99.0
17376,2023-01-29,2022,0,c,PHI,SF,1621.987292,1721.375447,0.450672,0.549328,...,56.917741,246.826740,103.911803,1645.507079,1693.213858,31,7,99.0,100.0,100.0
17377,2023-01-29,2022,0,c,KC,CIN,1735.804844,1729.668918,0.600966,0.399034,...,28.185998,280.177715,210.238050,1708.664922,1678.805820,23,20,100.0,100.0,100.0
17378,2023-02-12,2022,1,s,PHI,KC,1657.913193,1746.521889,0.375176,0.624824,...,411.098145,268.147365,293.269758,1633.804536,1720.367465,35,38,100.0,100.0,100.0

In [3]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            17379 non-null  object
 1   season          17379 non-null  int64
 2   neutral         17379 non-null  int64
 3   playoff         616 non-null    object
 4   team1           17379 non-null  object
 5   team2           17379 non-null  object
 6   elo1_pre        17379 non-null  float64
 7   elo2_pre        17379 non-null  float64
 8   elo_prob1       17379 non-null  float64
 9   elo_prob2       17379 non-null  float64
 10  elo1_post       17379 non-null  float64
 11  elo2_post       17379 non-null  float64
 12  qbelo1_pre      15217 non-null  float64
 13  qbelo2_pre      15217 non-null  float64
 14  qb1             15217 non-null  object
 15  qb2             15217 non-null  object
 16  qb1_value_pre   15217 non-null  float64
 17  qb2_value_pre   15217 non-null  float64
 18  qb1_adj         15217 non-null  float64
 19  qb2_adj         15217 non-null  float64
 20  qbelo_prob1     15217 non-null  float64
 21  qbelo_prob2     15217 non-null  float64
 22  qb1_game_value  15217 non-null  float64
 23  qb2_game_value  15217 non-null  float64
 24  qb1_value_post  15217 non-null  float64
 25  qb2_value_post  15217 non-null  float64
 26  qbelo1_post     15217 non-null  float64
 27  qbelo2_post     15217 non-null  float64
 28  score1          17379 non-null  int64
 29  score2          17379 non-null  int64
 30  quality         15217 non-null  float64
 31  importance      569 non-null    float64
 32  total_rating    569 non-null    float64
dtypes: float64(23), int64(4), object(6)
memory usage: 4.4+ MB

In [4]:
original_df.columns

Index(['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre',
       'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post',
       'qbelo1_pre', 'qbelo2_pre', 'qb1', 'qb2', 'qb1_value_pre',
       'qb2_value_pre', 'qb1_adj', 'qb2_adj', 'qbelo_prob1', 'qbelo_prob2',
       'qb1_game_value', 'qb2_game_value', 'qb1_value_post', 'qb2_value_post',
       'qbelo1_post', 'qbelo2_post', 'score1', 'score2', 'quality',
       'importance', 'total_rating'],
      dtype='object')

In [5]:
# extract only columns that has impact 

X_features = [ 'team1', 'team2', 'elo1_pre', 'elo2_pre', 'elo_prob1', 'elo_prob2', 
       'qbelo1_pre', 'qbelo2_pre', 'qbelo_prob1', 'qbelo_prob2',
       'score1', 'score2']

In [6]:
df = original_df[X_features].copy()
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15217 entries, 0 to 15216
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   team1        15217 non-null  object
 1   team2        15217 non-null  object
 2   elo1_pre     15217 non-null  float64
 3   elo2_pre     15217 non-null  float64
 4   elo_prob1    15217 non-null  float64
 5   elo_prob2    15217 non-null  float64
 6   qbelo1_pre   15217 non-null  float64
 7   qbelo2_pre   15217 non-null  float64
 8   qbelo_prob1  15217 non-null  float64
 9   qbelo_prob2  15217 non-null  float64
 10  score1       15217 non-null  int64
 11  score2       15217 non-null  int64
dtypes: float64(8), int64(2), object(2)
memory usage: 1.4+ MB

In [8]:
# derive the winning team
df['winner'] = np.where(df['score1'] > df['score2'], 1, 2)

df.to_csv("../data/final_nfl_elo.csv")